body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: #368efa; 
    line-height: 1.6;
    color: #333; 
}
a {
    text-decoration: none;
    color: #555; 
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3; 
}

h1, h2, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 { 
    border-bottom: 2px solid #EEE; 
    padding-bottom: 10px;
}

.header {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky;
}

.nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav li {
    margin-left: 30px;
}

.nav a {
    color: #555; 
    font-size: 1.1;
    font-weight: 500;
}

.nav a:hover {
    color: #007bff;
}

.content {
    max-width: 900px; 
    margin: 30px auto; 
    padding: 20px;
    background-color: white; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08); 
    border-radius: 8px; 
}

.section-card {
    padding: 30px;
    margin-bottom: 30px; 
    background-color: white; 
    border-radius: 8px;
}

.section-card:last-child {
    margin-bottom: 0; 
}

.bio-section p {
    text-align: center; 
    max-width: 700px; 
    margin: 20px auto; 
}

.bio img {
    display: block;
    margin: 20px auto; 
    border-radius: 50px;
    width: 200px; 
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
}

.skills-list, .tools-list, .projects-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px; 
    margin-top: 25px;
    text-align: center;
}

.skills-list p, .tools-list p, .projects-list p a {
    background-color: #F0F4F8; 
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

@keyframes example {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateX(0);}
}

body {
    animation-name: example;
    animation-duration: 1s; 
    animation-delay: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}