* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}
.container {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}
button:hover{
    background-color: #0062cc;
}
label {
    font-weight: bold;
    margin-bottom: 10px;
}
#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}