body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #007bff; 
    line-height: 1.6;
    color: #222; 
}
.header {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky; 
}
.nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav li {
    margin-left: 30px;
}

.nav a {
    color: #555; 
    font-size: 1.1;
    font-weight: 500;
}

.nav a:hover {
    color: #007bff;
}
a {
    text-decoration: none;
    color: #007bff; 
    transition: color 0.3s ease;
}
a:hover {
    color: #0056b3; 
}
.design-project {
    color: #fff;
    padding: 20px;
    margin: 20px auto;  
    border-radius: 8px; 
    max-width: 400px; 

}
.design-card {
    background: white; 
    padding: 20px;
    margin: 20px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    max-width: 400px; 
}